body {
  background-color: #f4f6f9;
  overflow-x: hidden;
}

.nav-icon {
  color: #1ab394;
  transition: color 0.3s;
}

.nav-icon:hover {
  color: #16a085;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background-color: #2b3c4e;
    color: white;
    position: fixed;
    transition: all 0.3s;
    z-index: 999;
    .sidebar-header {
      padding: 20px;
    }
    .nav-link {
      color: #ccc;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      .nav-text {
        margin-left: 10px;
      }
    }
    .nav-link.active {
      background-color: #1abc9c;
      color: white;
    }
    .nav-link:hover {
      background-color: #1abc9c;
      color: white;
    }
  }
  .collapsed {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0;
    margin-left: -250px;
    .nav-text {
      display: none;
    }
    .btn-text {
      display: none;
    }
  }
  #content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px;
    .image-bg-picture{

      .menu-nav {
        padding: 30px;
        height: 50px;
        background-color: #1d4e1a;
      }
    }
  } 
}

#content.expanded {
  margin-left: 0;
}

.rounded {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg);
  border-radius: 50% !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color:#fcf3d9 ;
}

.menu-toggle {
  background-color: #fcf3d9;
  padding: 5px 10px;
  width: 40px;
  text-align: center;
  color: #1d4e1a;
  cursor: pointer;
  border-radius: 4px;
}

.title {
  padding: 30px;
  background-color: #1d4e1a;
  color: #555;
  padding-bottom: 100px;
}

.card-container {
  margin: 30px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.pagination button {
  margin: 0 4px;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid #1ab394;
  color: #1ab394;
  background-color: white;
  cursor: pointer;
}

.pagination button.active {
  background-color: #1ab394;
  color: white;
}

.box-content {
  margin: 30px 20px;
  display: flex;
  gap: 30px;
}

textarea.form-control {
  resize: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

input.form-control::placeholder {
  font-weight: 300;
  font-style: italic;
}

.statistical {
  width: 60%;
}

.chart {
  width: 40%;
}

#legend {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  font-size: 14px;
}
.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.box {
  width: 12px;
  height: 12px;
}

.plus-button {
  display: none;
  background-color: #018337;
  color: white;
  padding: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nutrition-row.active .plus-button {
  display: flex;
}

#box-recipe {
  display: block;
}

/* CSS (có thể để chung trong file hoặc <style> của bạn) */
#comboList .list-group-item {
  cursor: pointer;
}
#comboList .list-group-item:hover {
  background-color: #f8f9fa; /* sáng hơn khi hover */
}

.toggle-overlay {
  display: none;
}

.btn-form-delete {
  position: absolute;
  top: 0;
  right: 30px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.overlay-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.container-form {
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 1000px;
  max-height: 90vh;
  overflow-y: auto;
  background: #fff;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.form-container p {
  font-size: 14px;
  text-align: center;
  color: gray;
}

.form-title {
  text-align: center;
  color: #00b894;
  font-weight: 600;
  margin: 20px 0 10px;
}

.section-title {
  font-size: 28px;
  font-weight: 300;
  margin: 20px 0 10px;
}

.grid-2,
.grid-3 {
  display: grid;
  gap: 10px;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.input-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.input-group-text {
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-btns {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

//them food inter
.add-ingredient-header {
  background-color: white;
}
.search-container {
  background-color: #fafafb;
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 15px;
}
.nutrition-header {
  background-color: white;
  margin-right: 46px;
}
.nutrition-header div {
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #dee2e6;
}
.nutrition-row {
  margin-bottom: 1px;
  position: relative;
}
.nutrition-item {
  background-color: white;
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 15px;
  width: 100%;
}
.nutrition-data {
  padding: 15px;
  text-align: center;
  font-size: 12px;
  min-width: 60px;
}
.plus-button {
  display: none;
  background-color: #018337;
  color: white;
  padding: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 45px;
}
.nutrition-row.active .plus-button {
  display: flex;
}
.community-source {
  font-size: 12px;
  color: #6c757d;
  opacity: 0.7;
}
.portion-input {
  display: flex;
  margin-top: 5px;
}
.quantity-box {
  background-color: #fafafb;
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portion-box {
  border: 1px solid #dee2e6;
  border-left: 0;
  font-size: 12px;
  padding: 5px 10px;
  width: 150px;
}
.weight-box {
  background-color: #fafafb;
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  font-size: 12px;
  width: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  justify-content: end;
}
input::placeholder {
  color: #aaa;
  font-size: 14px;
}
.input-with-icon {
  position: relative;
  display: flex;
}
.input-icon {
  background-color: #fafafb;
  border: 1px solid #dee2e6;
  border-right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.input-icon i {
  color: #1ab394;
}
.full-width-input {
  border: 1px solid #dee2e6;
  border-left: 0;
  padding: 10px;
  width: 100%;
}
.database-selector {
  border: 1px solid #dee2e6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.sort-input {
  display: flex;
  width: 100%;
}
.info-col {
  width: 270px;
}
.data-col {
  text-align: center;
  min-width: 60px;
}
.page-link {
  background-color: #ffffff;
  color: black;
}
